@import "tailwindcss";

:root{
    --color-primary: #7a7e7d;
    --background-Primary: #171717;
    --background-Secondary: #242424;
    --background-Tertiary: #006239;
    --border-primary: #2c2c2c;
    --border-secondary: #363636;
    --border-Tertiary: #138253;
}
@media (prefers-color-scheme: dark) {
    --color-primary: #e0e0e0;
    --background-Primary: #171717;
}
/*--------- Login Page --------- */
.btnLogin {
    @apply w-[300px] h-[50px] flex items-center gap-2 text-[var(--color-primary)]  bg-[#242424] px-4 py-1 rounded-xl border border-[var(--border-primary)];
}
.popup {
    @apply fixed bottom-10 right-10 px-4 py-2 rounded-lg text-white bg-[#242424] flex items-center justify-center;
}

/*--------- Chat Page --------- */
.chat-container {
    @apply flex flex-col gap-1  overflow-y-auto; /* riempie lo spazio centrale e scrolla se serve */
}

.user-container {
    @apply flex items-center font-semibold gap-2 px-4 py-2 rounded-2xl
    text-white bg-[var(--background-Secondary)] border
    border-[var(--border-secondary)] cursor-pointer mt-auto;
    /* mt-auto = lo spinge in fondo nella colonna */
}

.settings {
    @apply absolute bottom-[70px] left-2 flex flex-col items-start
    bg-[#242424] border border-[var(--border-secondary)]
    rounded-2xl gap-2 p-2;
    /* absolute invece di fixed → relativa alla sidebar */
}

.settings button {
    @apply w-full px-2 py-1 rounded-lg text-white flex items-start justify-center;
}



/*--------- Pricing Page --------- */
.pricing-card {
    @apply bg-[var(--background-Secondary)] border border-[var(--border-secondary)]
    rounded-2xl p-4 flex flex-col items-start gap-2 hover:shadow-[0_0_5px_#006239] hover:border-[var(--border-Tertiary)] transition duration-150;
}
